---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import LessonLayout from "../../layouts/LessonLayout.astro";
import H1 from "../../components/H1.astro";
import Image from "astro/components/Image.astro";

export const getStaticPaths = async () => {
    const posts = await getCollection('posts');
    const paths = posts.map(post => {
        return {
            params: {
                slug: post.slug
            },
            props: {
                post
            }
        }
    })
    return paths;
}

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props;
const {Content} = await post.render();
---

<LessonLayout title={post.data.title}>
    <div class="text-2xl font-bold ">{post.data.title} </div>
    <div class="text-xs text-midnight-green">
        <span class="pr-4">{post.data.originalDate ? `Written:  ${post.data.originalDate}` : ' '}</span>
        <span>{post.data.updated ? `Last Updated:  ${post.data.updated}` : ' '}</span>
    </div>
    <Image
        src={post.data.image}
        alt={post.data.title}
        width={1024}
        height={1024 / 1.5}
    />
    <div class="prose prose-lg overflow-visible relative mb-20">
        <Content />
    </div>
</LessonLayout>